
<header id="header" class="gk-clearfix gk-fixed">
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" rel="stylesheet" type="text/css">
  <div id="gkHeaderNav" class="gk-clearfix gk-fixed" data-fixed="0">
    <div id="gkHeaderNavabc">
      <a href="http://localhost:4200/" id="gkLogo">
        <div class="logo"> <img src="https://meyramgroup.kz/templates/gk_box/images/logo.png" alt="Meyram Group ">
        </div>
      </a>
    </div>
  </div>
  <div class="topnav">

    <ul class="nav">
      <li><a routerLink="">Главная</a></li>
      <li><a routerLink="/about">О компании</a></li>
      <li><a routerLink="/contacts">Контакты</a></li>
      <li><a routerLink="/rests">Рестораны</a></li>
    </ul>

  </div>
</header>
