.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div
{
  font-weight:400
}
.gm-style .gm-style-mtc ul,.gm-style .gm-style-mtc li
{
  box-sizing:border-box;
  width: 850px;
  padding: 100px;
  margin: auto;
}
.form-group, h1, h2, h3 {
  border-bottom: 1px solid #eee;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #FECC00;
}
.form-group, h3 {
  text-align: center;

  margin: auto;
  width: 50%;
  padding: 10px;
}
.container {
  width: 850px;
  padding: 100px;
  margin: auto;
  background-color: #F4F3F3;
}
