<h3 class="header"><span>Рестораны</span></h3>

<div class="container">

  <app-barvilla></app-barvilla>

<div class="zavedeniya2">



  <div class="uk-grid uk-text-center uk-flex-middle" data-uk-grid-match="" data-uk-margin="{cls:'uk-margin-top'}">


    <div class="uk-width-1-1">
      <div class="uk-panel uk-panel-space uk-width-1-1">



        <div class="uk-margin">

          <div id="wk-grid3e3" class="uk-grid-width-1-1 uk-grid-width-small-1-2 uk-grid-width-medium-1-4 uk-grid-width-large-1-4 uk-grid-width-xlarge-1-4 uk-grid uk-grid-match uk-text-left zavedeniya3" data-uk-grid-match="{target:'> div > .uk-panel', row:true}" data-uk-grid-margin="" data-uk-scrollspy="{cls:'uk-animation-fade uk-invisible', target:'> div > .uk-panel', delay:300}">


            <div class="uk-row-first">
              <div class="uk-panel uk-panel-box uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-fade" style="min-height: 438px;">



                <div class="photo"><div class="uk-overlay uk-overlay-hover "><img src="assets/barvilla.jpg" class=" uk-overlay-scale" alt="Ресторан BarVilla" width="250" height="150" style=""><a class="uk-position-cover" href="/zavedeniya/restoran-barvilla.html" title="Ресторан BarVilla"></a></div></div>


                <h4 class="uk-panel-title">

                  <a class="uk-link-reset" href="/rests-layout/barvilla">Ресторан BarVilla</a>


                </h4>



                <div class="uk-margin"><p style="text-align: left;"><strong>время работы:</strong> с 12:00 до 01:00<br> <strong>средний чек:</strong> 7000тг<br> <strong>кухни и блюда:</strong> парковая и европейская кухня</p>
                </div>


                <p><a class="uk-button" href="/zavedeniya/restoran-barvilla.html">Подробнее &gt;</a></p>


              </div>
            </div>


            <div>
              <div class="uk-panel uk-panel-box uk-scrollspy-inview uk-animation-fade" style="min-height: 438px;">



                <div class="uk-text-center uk-panel-teaser"><div class="uk-overlay uk-overlay-hover "><img src="/media/k2/items/src/ffee2447b152494b43d9816faaea83c8.jpg" class=" uk-overlay-scale" alt="Ресторан Mozzarella" width="450" height="300" style=""><a class="uk-position-cover" href="/zavedeniya/restoran-mozzarella.html" title="Ресторан Mozzarella"></a></div></div>


                <h3 class="uk-panel-title">

                  <a class="uk-link-reset" href="/zavedeniya/restoran-mozzarella.html">Ресторан Mozzarella</a>


                </h3>



                <div class="uk-margin"><p style="text-align: left;"><strong>время работы:</strong> с 12:00 до 00:00<br> <strong>средний чек:</strong> 5500тг<br> <strong>кухни и блюда:</strong> итальянская домашняя кухня</p>
                </div>


                <p><a class="uk-button" href="/zavedeniya/restoran-mozzarella.html">Подробнее &gt;</a></p>


              </div>
            </div>


            <div>
              <div class="uk-panel uk-panel-box uk-scrollspy-inview uk-animation-fade" style="min-height: 438px;">



                <div class="uk-text-center uk-panel-teaser"><div class="uk-overlay uk-overlay-hover "><img src="/media/k2/items/src/c82cc4e14a1d2c8c8ffff9840d24b558.jpg" class=" uk-overlay-scale" alt="Ресторан Бахчи-Сарай" width="450" height="300" style=""><a class="uk-position-cover" href="/zavedeniya/restoran-bakhchi-saraj.html" title="Ресторан Бахчи-Сарай"></a></div></div>


                <h3 class="uk-panel-title">

                  <a class="uk-link-reset" href="/zavedeniya/restoran-bakhchi-saraj.html">Ресторан Бахчи-Сарай</a>


                </h3>



                <div class="uk-margin"><p style="text-align: left;"><strong>время работы:</strong> 12:00-00:00<br> <strong>средний чек:</strong> 5000тг<br> <strong>кухни и блюда:</strong> восточная и уйгурская кухня</p>
                </div>


                <p><a class="uk-button" href="/zavedeniya/restoran-bakhchi-saraj.html">Подробнее &gt;</a></p>


              </div>
            </div>


            <div>
              <div class="uk-panel uk-panel-box uk-scrollspy-inview uk-animation-fade" style="min-height: 438px;">



                <div class="uk-text-center uk-panel-teaser"><div class="uk-overlay uk-overlay-hover "><img src="/media/k2/items/src/3899dfe821816fbcb3db3e3b23f81585.jpg" class=" uk-overlay-scale" alt="Ресторан Wok-Wok" width="450" height="300" style=""><a class="uk-position-cover" href="/zavedeniya/restoran-wok-wok.html" title="Ресторан Wok-Wok"></a></div></div>


                <h3 class="uk-panel-title">

                  <a class="uk-link-reset" href="/zavedeniya/restoran-wok-wok.html">Ресторан Wok-Wok</a>


                </h3>



                <div class="uk-margin"><p style="text-align: left;"><strong>время работы:</strong> 12:00-00:00<br> <strong>средний чек:</strong> 5000тг<br> <strong>кухни и блюда:</strong> паназиатская кухня</p>
                </div>


                <p><a class="uk-button" href="/zavedeniya/restoran-wok-wok.html">Подробнее &gt;</a></p>


              </div>
            </div>


            <div class="uk-grid-margin uk-row-first">
              <div class="uk-panel uk-panel-box uk-scrollspy-inview uk-animation-fade" style="min-height: 438px;">



                <div class="uk-text-center uk-panel-teaser"><div class="uk-overlay uk-overlay-hover "><img src="/media/k2/items/src/fc1da7257992fc36032e11db3df7a664.jpg" class=" uk-overlay-scale" alt="Ресторан Ак-сарай" width="450" height="300" style=""><a class="uk-position-cover" href="/zavedeniya/restoran-ak-saraj.html" title="Ресторан Ак-сарай"></a></div></div>


                <h3 class="uk-panel-title">

                  <a class="uk-link-reset" href="/zavedeniya/restoran-ak-saraj.html">Ресторан Ак-сарай</a>


                </h3>



                <div class="uk-margin"><p style="text-align: left;"><strong>время работы:</strong> 09:00-00:30<br> <strong>средний чек:</strong> 3000тг<br> <strong>кухни и блюда:</strong> узбекская и европейская кухня</p>
                </div>


                <p><a class="uk-button" href="/zavedeniya/restoran-ak-saraj.html">Подробнее &gt;</a></p>


              </div>
            </div>


            <div class="uk-grid-margin">
              <div class="uk-panel uk-panel-box uk-scrollspy-inview uk-animation-fade" style="min-height: 438px;">



                <div class="uk-text-center uk-panel-teaser"><div class="uk-overlay uk-overlay-hover "><img src="/media/k2/items/src/c9b002fe1bb0320831a8ae78670fdb6f.jpg" class=" uk-overlay-scale" alt="Ресторан Кок-Сарай на Тауке-Хана" width="450" height="300" style=""><a class="uk-position-cover" href="/zavedeniya/restoran-kok-saraj-na-tauke-khana.html" title="Ресторан Кок-Сарай на Тауке-Хана"></a></div></div>


                <h3 class="uk-panel-title">

                  <a class="uk-link-reset" href="/zavedeniya/restoran-kok-saraj-na-tauke-khana.html">Ресторан Кок-Сарай на Тауке-Хана</a>


                </h3>



                <div class="uk-margin"><p style="text-align: left;"><strong>время работы:</strong> 09:00-00:30<br> <strong>средний чек:</strong> 3000тг<br> <strong>кухни и блюда:</strong> Узбекская, европейская кухня</p>
                </div>


                <p><a class="uk-button" href="/zavedeniya/restoran-kok-saraj-na-tauke-khana.html">Подробнее &gt;</a></p>


              </div>
            </div>


            <div class="uk-grid-margin">
              <div class="uk-panel uk-panel-box uk-scrollspy-inview uk-animation-fade" style="min-height: 438px;">



                <div class="uk-text-center uk-panel-teaser"><div class="uk-overlay uk-overlay-hover "><img src="/media/k2/items/src/077ab55046ce80eaf9a3ddea999597ca.jpg" class=" uk-overlay-scale" alt="Фаст-фуд Плов в коробочке" width="450" height="300" style=""><a class="uk-position-cover" href="/zavedeniya/fast-fud-plov-v-korobochke.html" title="Фаст-фуд Плов в коробочке"></a></div></div>


                <h3 class="uk-panel-title">

                  <a class="uk-link-reset" href="/zavedeniya/fast-fud-plov-v-korobochke.html">Фаст-фуд Плов в коробочке</a>


                </h3>



                <div class="uk-margin"><p style="text-align: left;"><strong>время работы:</strong> 10:00-00:00<br> <strong>средний чек:</strong> 900тг<br> <strong>кухни и блюда:</strong> плов, лагман, удон в коробочках</p>
                </div>


                <p><a class="uk-button" href="/zavedeniya/fast-fud-plov-v-korobochke.html">Подробнее &gt;</a></p>


              </div>
            </div>


            <div class="uk-grid-margin">
              <div class="uk-panel uk-panel-box uk-scrollspy-inview uk-animation-fade" style="min-height: 438px;">



                <div class="uk-text-center uk-panel-teaser"><div class="uk-overlay uk-overlay-hover "><img src="/media/k2/items/src/4965657af186b9092c7a96976ffe881c.jpg" class=" uk-overlay-scale" alt="Фаст-фуд The Папа" width="450" height="300" style=""><a class="uk-position-cover" href="/zavedeniya/fast-fud-the-papa.html" title="Фаст-фуд The Папа"></a></div></div>


                <h3 class="uk-panel-title">

                  <a class="uk-link-reset" href="/zavedeniya/fast-fud-the-papa.html">Фаст-фуд The Папа</a>


                </h3>



                <div class="uk-margin"><p style="text-align: left;"><strong>время работы:</strong> 10:00-00:00<br> <strong>средний чек:</strong> 1200тг<br> <strong>кухни и блюда:</strong> пицца, суши, лаваш, хот дог, бургер</p>
                </div>


                <p><a class="uk-button" href="/zavedeniya/fast-fud-the-papa.html">Подробнее &gt;</a></p>


              </div>
            </div>


            <div class="uk-grid-margin uk-row-first">
              <div class="uk-panel uk-panel-box uk-invisible">



                <div class="uk-text-center uk-panel-teaser"><div class="uk-overlay uk-overlay-hover "><img src="/media/k2/items/src/64d93d666355a43c4a86679a030d35b6.jpg" class=" uk-overlay-scale" alt="Ресторан Кок-Сарай в Нур-Султане" width="450" height="300" style=""><a class="uk-position-cover" href="/zavedeniya/restoran-kok-saraj-v-nur-sultane.html" title="Ресторан Кок-Сарай в Нур-Султане"></a></div></div>


                <h3 class="uk-panel-title">

                  <a class="uk-link-reset" href="/zavedeniya/restoran-kok-saraj-v-nur-sultane.html">Ресторан Кок-Сарай в Нур-Султане</a>


                </h3>



                <div class="uk-margin"><p style="text-align: left;"><strong>время работы:</strong> <br>ПН-ВС 12:00–00:00;<br>ПТ-СБ 12:00–01:00.<br> <strong>средний чек:</strong> 5000тг<br> <strong>кухни и блюда:</strong> узбекская и восточная кухни</p>
                </div>


                <p><a class="uk-button" href="/zavedeniya/restoran-kok-saraj-v-nur-sultane.html">Подробнее &gt;</a></p>


              </div>
            </div>


          </div>

          <script>
            (function($){

              // get the images of the gallery and replace it by a canvas of the same size to fix the problem with overlapping images on load.
              $('img[width][height]:not(.uk-overlay-panel)', $('#wk-grid3e3')).each(function() {

                var $img = $(this);

                if (this.width == 'auto' || this.height == 'auto' || !$img.is(':visible')) {
                  return;
                }

                var $canvas = $('<canvas class="uk-responsive-width"></canvas>').attr({width:$img.attr('width'), height:$img.attr('height')}),
                  img = new Image,
                  release = function() {
                    $canvas.remove();
                    $img.css('display', '');
                    release = function(){};
                  };

                $img.css('display', 'none').after($canvas);

                $(img).on('load', function(){ release(); });
                setTimeout(function(){ release(); }, 1000);

                img.src = this.src;

              });

            })(jQuery);
          </script>
          <br><br>
          <a class="uk-button pwebcontact111_toggler" href="#pwebcontact111_toggler">Заказать банкет</a>
          <a class="uk-button" href="http://itamak.kz/">Заказать доставку</a>
        </div>



      </div>
    </div>

  </div>

</div>
</div>
