<h1 class="header"><span>Meyram Group</span></h1>
<div class="content">

  <img src="assets/001.jpg">

  <h3 class=""><span>События и новости</span></h3>
  <div class="news">
    <p> Дорогие жители и гости нашего города Шымкент !Первое Паназиатское кафе Wok Wok запустили Бэнто Ланчи!!!
      <br> В будние дни с 12:00 до 15:00.
      <span>Всего за 1990 тг. </span> </p>
    <p><strong>WOK</strong> <strong>WOK</strong>
      - Первое Паназиатское кафе </p>
    <p>Ул: Г.Иляева 33 Жк Яссауй  Моб:+7 747 230 06 25 </p>
  </div>

  <img src="assets/news.jpg">

    <div class="news-table">

      <table>
        <tr>
          <th><strong> Бэнто Филадельфия </strong></th>
          <th><strong> Бэнто Калифорния </strong></th>
          <th><strong> Бэнто Канада </strong></th>
        </tr>


        <tr>
          <td>Лапша из шпината с куриным фил</td>
          <td>Лапша удон с говядиной</td>
          <td>Лапша удон с курицей на омлете</td>
        </tr>

        <tr>
          <td>Нокты</td>
          <td>Микс салатов с орехами</td>
          <td>Тигр</td>
        </tr>

        <tr>
          <td>Покум паб с курицей</td>
          <td>Покум паб с овощами</td>
          <td>Покум паб с овощами</td>
        </tr>

        <tr>
          <td>Ролл Филадельфия</td>
          <td>Ролл Калифорния</td>
          <td>Ролл Канада</td>
        </tr>

        <tr>
          <td>Маньтоу</td>
          <td>Маньтоу</td>
          <td>Маньтоу</td>
        </tr>

        <tr>
          <td>Соус</td>
          <td>Соус</td>
          <td>Соус</td>
        </tr>

        <tr>

          <td>Чай</td>
          <td>Чай</td>
          <td>Чай</td>
        </tr>

      </table>
    </div>

  <div class="form">
      <h3>Заказать банкет</h3>
      <a>Пожалуйста, оставьте свои контактные данные, наш менеджер свяжется с Вами в ближайшее время.</a>
  </div>

</div>
